<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="centered">
                <% if(products.length > 0) { %>
                    <ul>
                        <% products.forEach(p => { %>
                            <li>
                                <p><%= p.title %>(<%= p.cartItem.quantity %>)</p>
                                <form action="/delete-cart-item" method="post">
                                    <input type="hidden" name="productId" value="<% if(p !== null) { %><%= p.id %> <% } %>">
                                    <button class="btn" type="submit">Delete</button>
                                </form>
                            </li>
                            <% }); %>
                    </ul>
                    <hr>
                    <div class="centered">
                        <form action="/create-order" method="post">
                            <button type="submit" class="btn">Order</button>
                        </form>
                    </div>
                <% } else { %>
                    <h2>No Products in your cart!</h2>
                 <% } %>   
            </div>            
        </main>

        <%- include('../includes/end.ejs') %>